body{
	border:0;
	padding:0;
	margin:center;
}

a{
	font-family:arial,hevetica,sans serif;
	color:#06F;
}

	#wrapper{
		width:1030px;
		margin:auto;
	}
			
		#campo{
			width:1024px;
			height:300px;
		}

		#campo{
			width:1024px;
			height:300px;
		}

			#TopSlideshow{
				width: 1024px;
				height: 300px;
				position: relative;
			}

				#TopSlideshow div{
					width: 1024px;
					height: 300px;					
					position: absolute;	
				}

					#TopSlideshow div img{
						width: 1024px;
						height: 300px;
						border-radius: 18px;
					}
			
		#divisiones{
			width:1024px;
			height:40px;
		}
		
			#divisiones table{				
				margin:10px 0 0 110px;				
			}
			
				#divisiones table th{
					margin:0 20px 0 20px;													
				}
				
					#divisiones table a{
						font-family:arial, helvetica,sans serif;
						font-size:10px;
						font-weight:bold;
						color:#06C;
						padding:0 0 20px 20px;
					}
					
			#info_corporativo{
				width:250px;
				height:190px;
				background-color:rgba(0,0,0,0.9);
				-webkit-border-radius:15px;
				-moz-border-radius:15px;
				z-index:10000;
			}
			
		nav{
			width:1024px;
			margin:40px 0 0 0;			
		}
		
		nav ul{
			text-decoration:none;
			background-color:#06C;
			width:980px;
			border-radius: 0 0 10px 10px;
			text-align:center;
		}
			
			nav ul li{
				display:inline;
				padding:5px 40px 5px 40px;
				font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
				font-size:12px;
				list-style:none;					
			}
			
			nav ul li a:link{
				color:#FFF;					
			}
			
			nav ul li a:visited{
				color:#FFF;					
			}
				
		#id img{
			border:0;
			margin:0;
			z-index:0;			
			}
			
		#menu ul{
			list-style-type:none;
		}
		
			#menu ul li{
				width:150px;				
			}
			
				#menu ul li a{
					font-family:arial,helvetica,sans serif;
					font-size:12px;
					font-weight:bold;
					color:#06F;
					padding:0 0 5px 0;
				}
		
		#modulo1{
			width:1024px;
			height:334px;
			margin:0;
			background-image:url(../img/modelo1.jpg);			
			}
			
				#modulo1 .text{
					position: relative;
					left: -20px;
					top: 0px;
				}
			
				#modulo1 .text p{
					padding:10px 5px 5px 0px;
					font-family:arial,helvetica,sans serif;
					font-size:11px;
					font-weight:300;
					line-height:30px;					
					text-align:center;
					color:#FFF;
				}
			
			#modulo1 ul{
				text-decoration:none;
				position:relative;
				left:245px;
				top:-170px;
			}
			
			#modulo1 ul li{
				display:inline;
			}
								
		.sub1{
			position: absolute;
			left: -5px;
			top: 70px;
			text-align:center;
			}
			
				.sub1 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#06F;
				}
				
				.sub1 a:hover{
					color:#999;
				}
			
		.sub2{
			position:absolute;
			left:43px;
			top:180px;
			}
			
				.sub2 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#06F;
				}
				
				.sub2 a:hover{
					color:#999;
				}
			
		.intro-cat{
			position:absolute;
			left:217px;
			top:245px;
			text-align:center;
			}
			
				.intro-cat a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:14px;
					font-weight:bold;
					font-stretch:condensed;
					color:#06F;
				}
				
				.intro-cat a:hover{
					color:#999;
				}
			
			
		.sub3{
			position:absolute;
			left:420px;
			top:170px;
			}
			
				.sub3 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:11px;
					color:#06F;
				}
				
				.sub3 a:hover{
					color:#999;
				}			
		
		.sub4{
			position:absolute;
			left:480px;
			top:70px;
			}
			
				.sub4 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#06F;
				}
				
				.sub4 a:hover{
					color:#999;
				}
			
		#modulo1 .noticias{
			position:relative;
			left:640px;
			top:5px;
			margin:3px 5px 3px 5px;
			color:#03C;
		}
		
			#modulo1 .noticias a{
				font-family:arial,helvetica,sans serif;
				font-size:16px;
				color:#FFF;
			}
			
				#modulo1 .noticias a:hover{
					color:#039;
				}
		
			
		#modulo1 table{
			position:relative;
			top:-160px;
			left:40px;
			transition:transform 0.6s;
			-moz-transition:-moz-transform 0.6s;
			-o-transition:-o-transform 0.4s;
			-ms-transition:-ms-transform 0.6s;
			-webkit-transition:-webkit-transform 0.6s;
		}
		
			#modulo1 table .facebook img:hover{
				transform:scale(1.4, 1.4);
				-moz-transform:scale(1.4, 1.4);
				-0-transform:scale(1.4, 1.4);
				-ms-transform:scale(1.4, 1.4);
				-webkit-transform:scale(1.4, 1.4);				
				background-image:url(../img/index/redes-sociales/facebook-activo.png);
			}
			
			#modulo1 table .twitter img:hover{
				transform:scale(1.4, 1.4);
				-moz-transform:scale(1.4, 1.4);
				-0-transform:scale(1.4, 1.4);
				-ms-transform:scale(1.4, 1.4);
				-webkit-transform:scale(1.4, 1.4);				
				background-image:url(../img/index/redes-sociales/twitter-activo.png);
			}
			
			#modulo1 table .youtube img:hover{
				transform:scale(1.4, 1.4);
				-moz-transform:scale(1.4, 1.4);
				-0-transform:scale(1.4, 1.4);
				-ms-transform:scale(1.4, 1.4);
				-webkit-transform:scale(1.4, 1.4);				
				background-image:url(../img/index/redes-sociales/youtube-activo.png);
			}
			
			
		#seccion_m2{
			width:1026px;
			height:335px;
		}
		
		#modulo2{
			width:1026px;
			height:335px;
			margin:0;
			border:0;
			padding:0;						
			}
			
			#modulo2 #sidebar-left{
				width:203px;
				height:335px;				
				text-align:left;
				float:left;	
				background-image:url(../img/Inverlago_construccion/sidebar_left.jpg);
			}
			
				#sidebar-left p{
					font-family:arial,helvetica,sans serif;
					font-size:14px;
					font-weight:bold;
					color:#06F;
					position:relative;
					top:16px;
					left:35px;
				}
			
			#sidebar-left ul{
				list-style:none;
				margin-top:23px;
			}
			
				#sidebar-left ul li{
					width:200px;
					height:40px;
					margin:10px 0 0 0;
				}
				
					#sidebar-left ul li a{
						text-decoration:none;
						font-size:14px;
						font-weight:bold;
						color:#999;
					}
					
						#sidebar-left ul li a:hover{
							color:#0CF;
						}
						
				#sidebar-left .item_1{
					padding-top:0px;
				}
				
				#sidebar-left .item_1{
					padding-top:0px;
				}
				
				#sidebar-left .item_1{
					padding-top:0px;
				}
				
				#sidebar-left .item_1{
					padding-top:0px;
				}
				
				#sidebar-left .item_1{
					padding-top:15px;
				}
		
			#modulo2-main{
				width:622px;
				height:335px;				
				float:left;															
			}
									
				#modulo2 #modos-navegacion{
					width:624px;
					height:175px;						
					background-image:url(../img/inverlago_corporativo/nav.jpg);				
				}
				
				#modulo2 #modos-navegacion a:link{
					font-family:Arial, Helvetica, sans-serif;
					font-size:10px;
					color:#999;				
				}
				
				#modulo2 #modos-navegacion a:hover{
					color:#06F;				
				}
				
				#modulo2 #modos-navegacion table{
					position:relative;
					top:45px;
					left:130px;
				}
				
				
									
				#botonera{
					width:623px;
					height:160px;
					float:left;
					background-image:url(../img/inverlago_deportes/botonera.jpg);
				}
				
					#botonera ul{
						list-style:none;
					}
					
						#botonera li{
							display:inline;
							width:50px;
							height:50px;					
						}
						
						.proveedores_icon1{
							position: relative;
							top: 80px;
							left: 70px;
						}
						
						.proveedores_icon2{
							position: relative;
							top: 30px;
							left: 75px;
						}
						
						.proveedores_icon3{
							position: relative;
							top: 10px;
							left: 95px;
						}
						
						.proveedores_icon4{
							position: relative;
							top: 20px;
							left: 117px;
						}
						
						.proveedores_icon5{
							position: relative;
							top: 40px;
							left: 130px;
						}
						
						.proveedores_icon6{
							position: relative;
							top: 95px;
							left: 130px;
						}
						
							
												
			#sidebar-right{
				width:199px;
				height:335px;
				float:left;				
				background-image:url(../img/inverlago_deportes/sidebar_right.jpg);			
			}
			
				#sidebar-right p{
					font-family:arial,helvetica,sans serif;
					font-size:14px;
					font-weight:bold;
					color:#06F;
					margin:-20px 0 0 90px;
				}
			
				#sidebar-right .slideshow{
					height:300px;
					width:165px;
					margin:20px 0 0 30px;					
					border:1px solid #CCC;
					bakground-color:#eee;
					overflow:hidden;
	
				}
				
				#sidebar-right ul{
					list-style:none;
					margin:10px 0 0 40px;								
				}
				
					#sidebar-right ul li{
						display:block;
						width:50px;
						height:15px;
						margin:5px 0 10px 10px;
					}
					
						#sidebar-right ul li a{
							font-family:arial,helvetica,sans serif;
							font-size:14px;
							font-weight:bold;
							text-decoration:none;
							color:#06F;
						}
						
							#sidebar-right ul li a:hover{
								color:#009;
							}
		
			
		#seccion_m3{
			width:1024px;
			height:368px;
		}
		
			#modulo3{
				width:1024px;
				height:368px;				
			}
			
				#m3_left{
					width:336px;
					height:197px;
					float:left;
				}
				
					#m3_left1{
						width:203px;
						height:197px;
						background-image:url(../img/inverlago_corporativo/repro.jpg);
						float:left;
					}
					
					#m3_left2{
						width:133px;
						height:197px;
						background-image:url(../img/inverlago_corporativo/inverlago_corporativo_11.jpg);
						float:left;
					}
					
						#m3_left2 ul{
							list-style:none;
						}
						
							#m3_left2 ul li{
								width:50px;
								height:50px;
								display:inline-block;
							}
							
						.m3_left_icon1{
							position: relative;
							top: -30px;
							left: 15px;
						}
						
						.m3_left_icon2{
							position: relative;
							top: -50px;
							left: -5px;
						}
						
						.m3_left_icon3{
							position: relative;
							top: -40px;
							left: -17px;
						}
					
					#m3_left3{
						width:336px;
						height:171px;
						background-image:url(../img/inverlago_corporativo/repro2.jpg);
						float:left;
					}
					
				#m3_center{
					width:352px;
					height:368px;															
					float:left;					
				}
								
					
				#m3_right{
					width:336px;
					height:197px;
					float:left;
				}
				
					#m3_right1{
						width:138px;
						height:197px;
						background-image:url(../img/inverlago_corporativo/inverlago_corporativo_13.jpg);
						float:left;
					}
					
						#m3_right1 ul{
							list-style:none;
						}
						
							#m3_right ul li{
								width:50px;
								height:50px;
								display:inline-block;
							}
							
							.m3_right_icon1{
								position: relative;
								top: -10px;
								left: -20px;
							}
							
							.m3_right_icon2{
								position: relative;
								top: -20px;
								left: 0px;
							}
							
							.m3_right_icon3{
								position: relative;
								top: -30px;
								left: 15px;
							}
					
					#m3_right2{
						width:198px;
						height:197px;
						background-image:url(../img/inverlago_corporativo/inverlago_corporativo_14.jpg);
						float:left;	
					}
					
					#m3_right3{
						width:336px;
						height:171px;
						background-image:url(../img/inverlago_corporativo/inverlago_corporativo_16.jpg);
						float:left;
					}
		
		#seccion_m4{
			width:1024px;
		}
		
			#modulo4{
				width:1024px;
				height:331px;
				background-image:url(../img/inverlago_deportes/1_17.jpg);
			}
			
	
	/*navegación horizontal*/
		#horizontal_nav{
			width:100%;
			height:100%;						
			border: 1px solid rgb(192, 192, 192); 
			margin: 3px; 
			margin:auto;
			padding: 5px 10px; 			
			background-color:rgba(0,0,0,0.5);
			position:absolute;
			top:0px;
			left:0px;			
			z-index:999;
			display:none;
			text-align:center;
		}
					
			/*acordeon0*/
			.acordeon{
				width:400px;							
				background-color: rgba(0,0,0, 0.6);					
				margin:auto;
				padding:10px;
				margin-top:100px;
				text-align:center;
				border-radius:15px;
				box-shadow:1px 3px 0.5;
				
			}
			
				.cerrar_1{
					float:right;
					margin:15px
				}				
				
				.tipos_productos{
					font-family:arial,helvetica,sans serif;
					font-size:16px;
					letter-spacing:3px;
					padding:5px 0px 15px 0px;
					color:#fff;					
				}
				
				
					h3{
						width:300px;
						margin:2px;
						background-color:#fff;
						padding:15px;
						cursor:pointer;
						border-radius: 5px 0px 0px 5px;
						box-shadow:1px 3px 0.5;
					}
					
						h3:hover{
							color:#0CF;
						}
					
					.ac{
						width:300px;
						height:auto;
						margin:30px;
						text-align:justify;
					}
					
						
						.ac p{
							font-family:arial,helvetica,sans serif;
							font-size:12px;
							line-height:15px;
							color:#CCC;	
							text-align:center;				
						}
						
						.accordion div p{
							font-family:arial,helvetica,sans serif;
							font-size:12px;
							line-height:20px;
							color:#CCC;
							text-align:justify;
						}
						
						.ac ul{
							list-style:none;							
						}
						
							.ac ul li{
								padding:5px;
							}
							
								.ac ul li a{
									font-family:arial,helvetica,sans serif;
									font-size:14px;
									color:#333;
									font-weight:500;
									text-decoration:none;
									color:#fff;
								}
								
									.ac ul li a:hover{
										color:#06C;
									}
									
		.contextual, #proveedores_variante{
			width:500px;			
			margin:0 auto;
			margin-top:100px;
			background-color: rgba(0,0,0, 0.8);
			border-radius:10px;
			box-shadow:1px 3px 0.5;
			text-align:center;			
			padding:50px 0 15px 0;	
			display:none;		
		}
		
			#proveedores_variante .mensaje a{
				color:#C60;
			}
			
				#proveedores_variante .mensaje a:hover{
				color:#06F;
				}
			
			.cerrar{
				margin:10px 0px 25px 0px;
			}
			
			.cerrar_alter{
				float:right;
				margin:15px;
			}
		
		
			.contextual{
				font-family:arial,helvetica,sans serif;
				font-size:18px;				
				font-weight:200;
				color:#06C;				
			}
			
			.contextual ul{				
				list-style:none;
				margin:20px 0 0 35px;
				text-align:center;
			}
			
				.contextual ul li{
					display:block;
					width:350px;
					height:25px;
					margin:10px 0 10px 0;
				}
				
					.contextual ul li a{
						text-decoration:none;
						font-family:arial,helvetica,sans serif;
						font-size:18px;
						color:#fff;
					}
					
						.contextual ul li a:hover{
							color:#06f;
						}
						
			.contexto_variante, .contexto_productos{
				font-family:arial,helvetica,sans serif;
				font-size:14px;
				line-height:1.5;
				margin:50px 5px 10px 5px;				
				color:#CCC;
			}
		
		
			#consulta{
				text-align:center;
			}
			
			.contactenos a{
				color:#C30;
			}		
			
			
			.campos-contacto{
				text-align:right;
				margin:20px 0px 0px 120px;
			}
			
				.campos-contacto table{
					text-align:left;
				}
				
					.campos-contacto table tr th{
					text-align:right;
				}
				
	/*obras de deportes*/
		#obras_container{
			width:100%;
			height:100%;
			background-color:rgba(0,0,0, 0.8);
			position:absolute;
			top:0px;
			left:0px;
			margin:auto;					
			text-align:center;
			z-index:2000;
			display:none;
		}				
		
			
			#marco{
				width:1024px;
				height:768px;				
				border: 1px solid #FFF;				
				padding:30px 0 20px 0px;				
				margin:auto;
				margin-top:80px;
				text-align:center;
				border-radius:10px;
				box-shadow:1px 3px rgba(0,0,0, 0.5);
			}
			
				#obras_pro1{
					width:1024px;
					height:400px;	
					margin:auto;
					margin-top:10px, 0px 10px 0px;
					text-align:center;								
				}
				
				#obras_pro2{
					width:1024px;
					height:200px;	
					margin:auto;
					margin-top:10px, 0px 10px 0px;
					text-align:center;						
				}
				
					#obras_pro .cerrar{
					float:right;
					margin:25px;
				}
				
					.titulo{
						font-family:arial,helvetica,sans serif;
						font-size:36px;
						letter-spacing:5px;
						color:#FFF;
						clear:both;
						margin:20px 0 30px 0px;
						text-transform:uppercase;												
					}
					
					.sub-titulo{
						font-family:arial,helvetica,sans serif;
						font-size:16px;
						letter-spacing:3px;
						font-weight:300;
						color:#FFF;
						margin:0px 0px 0px 0px;
					}
						
					.sub-titulo a{
						font-family:arial,helvetica,sans serif;
						font-size:16px;
						letter-spacing:3px;
						font-weight:300;
						text-decoration:none;
						color:#FFF;
						margin:0px 0px 0px 0px;
					}
					
						.sub-titulo a:hover{
						color:#06C;
					}
					
					.deportes_tipos{
						width:160px;
						padding:10px;
						border-right:1px solid #CCC;
						float:left;	
						margin:auto;													
					}
					
					.deportes_tipos ul{
						list-style:none;
						text-align:left;
						margin:auto;
						margin:10px 0px 0px 0px;
					}
					
						.deportes_tipos ul li{
							display:inline-block;						
						}
						
							.deportes_tipos ul li a{
								text-decoration:none;
							}
							
								.deportes_tipos ul li a:hover{
									color:#fff;
								}
					
					
