
*{
	border:0;
	padding:0;
}

body{	
	margin:auto;
}

a{
	font-family:arial,hevetica,sans serif;
	color:#06F;
}

	#wrapper{
		width:1024px;
		margin:auto;
		background-color:#069;		
	}
			
		#campo{
			width:1024px;
			height:300px;
		}
			
		#divisiones{
			width:1024px;
			height:40px;
		}
		
			#divisiones table{				
				margin:10px 0 0 110px;				
			}
			
				#divisiones table th{
					margin:0 20px 0 20px;													
				}
				
					#divisiones table a{
						font-family:arial, helvetica,sans serif;
						font-size:10px;
						font-weight:bold;
						color:#06C;
						padding:0 0 20px 20px;
					}
					
			#info_corporativo{
				width:250px;
				height:190px;
				background-color:rgba(0,0,0,0.9);
				-webkit-border-radius:15px;
				-moz-border-radius:15px;
				z-index:10000;
			}
			
		nav{
			width:1024px;
			margin:40px 0 0 0;			
		}
		
		nav ul{
			text-decoration:none;
			background-color:#06C;
			width:980px;
			border-radius: 0 0 10px 10px;
			text-align:center;
		}
			
			nav ul li{
				display:inline;
				padding:5px 40px 5px 40px;
				font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
				font-size:12px;
				list-style:none;					
			}
			
			nav ul li a:link{
				color:#FFF;					
			}
			
			nav ul li a:visited{
				color:#FFF;					
			}
				
		#id img{
			border:0;
			margin:0;
			z-index:0;			
			}
			
		#menu ul{
			list-style-type:none;
		}
		
			#menu ul li{
				width:150px;				
			}
			
				#menu ul li a{
					font-family:arial,helvetica,sans serif;
					font-size:12px;
					font-weight:bold;
					color:#06F;
					padding:0 0 5px 0;
				}
		
		#modulo1{
			width:1024px;
			height:334px;
			margin:0;
			background-image:url(../img/top-inverlago-info.png);			
			}
			
				#modulo1 .text{
					position: relative;
					left: -20px;
					top: 0px;
				}
			
				#modulo1 .text p{
					padding:10px 5px 5px 0px;
					font-family:arial,helvetica,sans serif;
					font-size:11px;
					font-weight:300;
					line-height:30px;					
					text-align:center;
					color:#FFF;
				}
			
			#modulo1 ul{
				text-decoration:none;
				position:relative;
				left:245px;
				top:-170px;
			}
			
			#modulo1 ul li{
				display:inline;
			}
								
		.sub1{
			position: absolute;
			left: -5px;
			top: 70px;
			text-align:center;
			}
			
				.sub1 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#06F;
				}
				
				.sub1 a:hover{
					color:#999;
				}
			
		.sub2{
			position:absolute;
			left:43px;
			top:180px;
			}
			
				.sub2 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#06F;
				}
				
				.sub2 a:hover{
					color:#999;
				}
			
		.intro-cat{
			position:absolute;
			left:217px;
			top:245px;
			text-align:center;
			}
			
				.intro-cat a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:14px;
					font-weight:bold;
					font-stretch:condensed;
					color:#06F;
				}
				
				.intro-cat a:hover{
					color:#999;
				}
			
			
		.sub3{
			position:absolute;
			left:420px;
			top:170px;
			}
			
				.sub3 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:11px;
					color:#06F;
				}
				
				.sub3 a:hover{
					color:#999;
				}			
		
		.sub4{
			position:absolute;
			left:480px;
			top:70px;
			}
			
				.sub4 a{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#06F;
				}
				
				.sub4 a:hover{
					color:#999;
				}
			
		#modulo1 .noticias{
			position:relative;
			left:640px;
			top:5px;
			margin:3px 5px 3px 5px;
			color:#03C;
		}
		
			#modulo1 .noticias a{
				font-family:arial,helvetica,sans serif;
				font-size:16px;
				color:#FFF;
			}
			
				#modulo1 .noticias a:hover{
					color:#039;
				}
		
			
		#modulo1 table{
			position:relative;
			top:-160px;
			left:40px;
			transition:transform 0.6s;
			-moz-transition:-moz-transform 0.6s;
			-o-transition:-o-transform 0.4s;
			-ms-transition:-ms-transform 0.6s;
			-webkit-transition:-webkit-transform 0.6s;
		}
		
			#modulo1 table .facebook img:hover{
				transform:scale(1.4, 1.4);
				-moz-transform:scale(1.4, 1.4);
				-0-transform:scale(1.4, 1.4);
				-ms-transform:scale(1.4, 1.4);
				-webkit-transform:scale(1.4, 1.4);				
				background-image:url(../img/index/redes-sociales/facebook-activo.png);
			}
			
			#modulo1 table .twitter img:hover{
				transform:scale(1.4, 1.4);
				-moz-transform:scale(1.4, 1.4);
				-0-transform:scale(1.4, 1.4);
				-ms-transform:scale(1.4, 1.4);
				-webkit-transform:scale(1.4, 1.4);				
				background-image:url(../img/index/redes-sociales/twitter-activo.png);
			}
			
			#modulo1 table .youtube img:hover{
				transform:scale(1.4, 1.4);
				-moz-transform:scale(1.4, 1.4);
				-0-transform:scale(1.4, 1.4);
				-ms-transform:scale(1.4, 1.4);
				-webkit-transform:scale(1.4, 1.4);				
				background-image:url(../img/index/redes-sociales/youtube-activo.png);
			}
			
			
		/*navegación horizontal*/
		#horizontal_nav{
			width:2500px;
			max-height:550px;			
			border: 1px solid rgb(192, 192, 192); 
			margin: 3px; 
			padding: 5px 10px; 
			overflow-x: auto;
			overflow-y: hidden;
		}
					
			/*acordeon0*/
			#contenedor_ac{
				width:400px;							
				background-color:#099;
				float:left;
				margin:50px;
				text-align:center;
				
			}
				.accordion{
					width:300px;
					margin:15px;									
				}
				
					h3{
						width:300px;
						margin:2px;
						background-color:#999;
						padding:15px;
						cursor:pointer;
					}
					
						h3:hover{
							color:#fff;
						}
					
					.ac{
						width:300px;
						height:auto;
						margin:30px;
					}
					
						.accordion div p{
							font-family:arial,helvetica,sans serif;
							font-size:12px;
							line-height:20px;
							color:#666;
							text-align:justify;
						}
						
						.ac ul{
							list-style:none;							
						}
						
							.ac ul li{
								padding:5px;
							}
							
								.ac ul li a{
									font-family:arial,helvetica,sans serif;
									font-size:14px;
									color:#333;
									font-weight:500;
								}
								
									.ac ul li a:hover{
										color:#fff;
									}
									
		#variante{
			width:500px;
			height:600px;
			background-color:#036;
			text-align:center;
			float:left;
		}
		
			#variante ul{
				width:400px;
				list-style:none;
			}
			
				#variante ul li{
					display:block;
					widows:350px;
					height:25px;
				}
				
					#variante ul li a{
						text-decoration:none;
						font-family:arial,helvetica,sans serif;
						font-size:14px;
						color:#06F;
					}
		
		#productos_variante{
			width:500px;
			height:600px;
			background-color:#930;
			float:left;
		}
		
		#proveedores_variante{
			width:500px;
			height:600px;
			background-color:#9C0;
			float:left;
		}
		
		#consulta{
			width:500px;
			height:600px;
			background-color:#36C;
			float:left;
		}
		