body{
	border:0;
	padding:0;
	margin:center;
}

:link{color:#999; text-decoration:none;}
:visited{color:#333;}
:active{color:#FFF;}
:hover{color:black;}
:focus{color:white;}

	#wrapper{
		width:1024px;
		margin:auto;
	}
			
		nav{
			text-align:center;
		}
		
		nav ul{
			text-decoration:none;
			background-color:#06C;
			width:700px;
			padding:0 0 0 30px;			
			margin:0 0 0 90px;
			border-radius: 0 0 10px 10px;
		}
			
			nav ul li{
				display:inline;
				padding:5px 20px 5px 20px;
				font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
				font-size:12px;
				list-style:none;					
			}
			
			nav ul li a:link{
				color:#FFF;					
			}
			
			nav ul li a:visited{
				color:#FFF;					
			}
				
		#id img{
			border:0;
			margin:0;			
			}
		
		#modulo1{
			width:1024px;
			height:334px;
			margin:0;
			background-image:url(../img/modelo1.jpg);			
			}
			
				#modulo1 .text{
				position:relative;
				left:-20px;
				top:10px;
			}
			
				#modulo1 .text p{
					padding:3px;
					font-size:12px;
					font-weight:300;
					line-height:30px;
					text-align:center;
					color:#FFF;
				}
			
			#modulo1 ul{
				text-decoration:none;
				position:relative;
				left:245px;
				top:-105px;
			}
			
			#modulo1 ul li{
				display:inline;
			}
					
		.sub1{
			position:absolute;
			left:-10px;
			top:70px;
			}
			
		.sub2{
			position:absolute;
			left:50px;
			top:180px;
			}
			
		.intro-cat{
			position:absolute;
			left:220px;
			top:255px;
			}
			
			.intro-cat a{
			font-size:18px;
			font-family:arial;
			font-weight:bold;
			font-stretch:condensed;
			
						
			}
			
		.sub3{
			position:absolute;
			left:430px;
			top:180px;
			}
		
		.sub4{
			position:absolute;
			left:482px;
			top:70px;
			}
			
		#modulo1 ul .noticias{
			position:relative;
			left:605px;
			top:0;
			margin:3px 5px 3px 5px;
		}
		
			#modulo1 ul .noticias a:link{
				font-size:20px;
				font-family:arial;
				font-weight:bold;
				color:#FFF;
				padding:5px 5px 35px 30px;
			}
			
		#modulo2{
			width:1024px;
			height:176px;
			margin:0;
			background-image:url(../img/modelo2.jpg);			
			}
			
			#modulo2 #sidebar-left{
				text-align:left;
				padding:15px 0 0 0;
				float:left;				
			}
		
			#modulo2 #sidebar-left ul{
				text-decoration:none;
				padding-top:20px;
				border:none;
				margin:0px;
			}
			
			#modulo2 #sidebar-left ul li{
				display:inherit;
				padding:5px 10px 5px 0px;
				font-size:12px;				
			}
			
			#modulo2 #modos-navegacion{
				text-align:left;
				padding:40px 0 0 230px;
				text-align:center;
				float:left;				
			}
			
				#modulo2 .link-modos{
					text-align:center;				
				}
				
				#modulo2 #modos-navegacion a:link{
					font-size:10px;
					color:#666;						
				}
				
			#modulo2 #busquedas-contenedor{
				float:left;	
				text-align:right;
			}
			
			#modulo2 form{
				margin-right:20px;
				padding:60px 60px 0 200px;
				
			}
			
			.label-busquedas{
				padding:70px 0 0 30px;
				text-align:right;
				font-family:arial;
				font-size:10px;
				color:#666;	
			}
			
			.text-area{
				width:250px;
				height:60px;
				padding:5px 0 0px 20px;
				margin:0px 0px 10px 0px;
				opacity:0.3;
				border-radius:15px 15px 15px 15px;
				-moz-border-radius:15px 15px 15px 15px;
				-ms-border-radius:15px 15px 15px 15px;
				-webkit-border-radius:15px 15px 15px 15px;
				color:#999;
				background: #4c4c4c; 
				background: -moz-linear-gradient(top, #4c4c4c 0%, #4f4f4f 31%, #2b2b2b 62%, #131313 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(31%,#4f4f4f), color-stop(62%,#2b2b2b), color-stop(100%,#131313));
				background: -webkit-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				background: -o-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				background: -ms-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				background: linear-gradient(to bottom, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
			}
			
			.submit{
				position:relative;
				left:-115px;
				top:40px;
				width:100px;
				height:20px;
				padding:1px 10px 1px 10px;
				margin:0px 0px 20px 0px;
				font-size:10px;
				opacity:0.6;
				cursor:pointer;					
				border-radius:10px 10px 10px 10px;
				-moz-border-radius:10px 10px 10px 10px;
				-ms-border-radius:10px 10px 10px 10px;
				-webkit-border-radius:10px 10px 10px 10px;
				color:#999;
				background: #4c4c4c;
				background: -moz-linear-gradient(top, #4c4c4c 0%, #4f4f4f 31%, #2b2b2b 62%, #131313 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(31%,#4f4f4f), color-stop(62%,#2b2b2b), color-stop(100%,#131313)); 
				background: -webkit-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				background: -o-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				background: -ms-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				background: linear-gradient(to bottom, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );				
			}
			
			input::-webkit-input-placeholder{
				color:#999;
				text-transform:capitalize;
				text-shadow: 0px -1px, 0px #333333;
			}
	
			input::moz-input-placeholder{
				color:#999;
				text-transform:capitalize;
				text-shadow: 0px -1px, 0px #333333;
			}
						
			#modulo2 #sidebar-right{
				position:relative;
				left:0px;
				top:-150px;
				text-align:right;
				padding:15px 0 0 15px;	
				float:right;
				border:none;
				margin:0px;
				float:right;			
			}
		
			#modulo2 #sidebar-right ul{
				text-decoration:none;
				padding-top:20px;
			}
			
			#modulo2 #sidebar-right ul li{
				display:block;
				padding:5px 50px 5px 10px;
				font-size:12px;				
			}
			
		#modulo3-contacto{
			width:1024px;
			height:696px;
			margin:0;
			padding:0;
			text-align:center;
			background-image:url(../img/modelo5.jpg);			
			}/*
					
			#sidebar-left2{
				text-align:left;
				padding:0 0 0 40px;
				float:left;				
			}
		
				#sidebar-left2 ul{
					width:50px;
					height:100px;
					float:left;
					text-decoration:none;
					border:none;
					margin:0px;
				}
				
				#sidebar-left2 ul li{
					width:50px;
					height:100px;
					display:inherit;
					padding:5px 10px 5px 0px;
					font-size:10px;				
				}*/
			
			#modulo3 .sidebar-right2{
				text-align:left;
				margin-right:-135px;
				text-align:right;
				float:right;				
			}
		
			#modulo3 .sidebar-right2 ul{
				width:50px;
				height:100px;
				float:left;
				text-decoration:none;
				padding-top:20px;
				border:none;
				margin:0px;
			}
			
			#modulo3 .sidebar-right2 ul li{
				width:50px;
				height:100px;
				display:inherit;
				padding:5px 10px 5px 0px;
				font-size:10px;				
			}
			
		#formulario-contacto {
			width:500px;
			text-align:center;
			padding:50px 0 0 70px;
			}
		
		#formulario-contacto p{
			position:relative;
			left:160px;
			top:30px;
			text-align:center;
			font-family:arial;
			font-size:12px;
			line-height:20px;
			color:#06C;
			text-align:center;
			}
			
			#formulario-contacto table{
				width:350px;
				height:300px;
				padding:60px 0 0 160px;
			}	
		
			#formulario-contacto .campos-contacto{
				width:450px;
				height:300px;
				padding:10px 0 0 75px;
				text-align:right;
			}	
			
				#formulario-contacto .contacto-nombre{
					padding-bottom:20px;
					margin:8px 20px 40px 0px;
					width:150px;
					text-align:right;
					font-size:14px;
					color:#999;
					font-family:Arial, Helvetica, sans-serif;
				}
				
				#formulario-contacto .contacto-email{
					padding-bottom:20px;
					margin:8px 20px 40px 0px;
					width:150px;
					text-align:right;
					font-size:14px;
					font-weight:200;
					color:#999;
					font-family:Arial, Helvetica, sans-serif;
				}
				
				#formulario-contacto .contacto-text-area{
					padding-bottom:20px;
					margin:8px 20px 40px 0px;
					width:150px;
					text-align:right;
					font-size:14px;
					font-weight:200;
					color:#999;
					font-family:Arial, Helvetica, sans-serif;
				}
				
								
				#formulario-contacto input{
					width:255px;
					height:20px;
					padding:2px 20px 0px 20px;
					margin:0px 0px 20px 0px;
					text-align:left;
					border-radius:8px 8px 8px 8px;
					-moz-border-radius:8px 8px 8px 8px;
					-ms-border-radius:8px 8px 8px 8px;
					-webkit-border-radius:8px 8px 8px 8px;
					color:#999;
					background: #4c4c4c; 
					background: -moz-linear-gradient(top, #4c4c4c 0%, #4f4f4f 31%, #2b2b2b 62%, #131313 100%); 
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(31%,#4f4f4f), color-stop(62%,#2b2b2b), 			color-stop(100%,#131313)); 
					background: -webkit-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
					background: -o-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
					background: -ms-linear-gradient(top, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
					background: linear-gradient(to bottom, #4c4c4c 0%,#4f4f4f 31%,#2b2b2b 62%,#131313 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); 
				}
				
				#formulario-contacto input::-webkit-input-placeholder{
					color:#999;
					text-transform:capitalize;
					text-shadow: 0px -1px, 0px #333333;
				}
	
				#formulario-contacto input::moz-input-placeholder{
					color:#999;
					text-transform:capitalize;
					text-shadow: 0px -1px, 0px #333333;
				}
				
				#formulario-contacto textarea{
					width:260px;
					height:150px;
					padding:3px 20px 0px 20px;
					margin:0px, 0px, 20px 0px;
					background-color:#333;
					border-radius:15px 15px 15px 15px;
					-moz-border-radius:15px 15px 15px 15px;
					-webkit-border-radius:15px 15px 15px 15px;
					-ms-border-radius:15px 15px 15px 15px;
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#999;
				}
															
				#formulario-contacto textarea::-webkit-input-placeholder{
					color:#999;
					text-transform:capitalize;
					text-shadow: 0px -1px, 0px #333333;
				}
	
				#formulario-contacto textarea::-moz-input-placeholder{
					color:#999;
					text-transform:lowercase;
					text-shadow: 0px -1px, 0px #333333;
				}
				
				#formulario-contacto input:focus, textarea:focus{
					background-color:#232323;
				}
				
				#formulario-contacto input[type=submit]{
					width:120px;
					height:30px;
					padding:5px 20px 5px 15px;
					margin:10px 178px 0px 0px;
					text-align:center;
					cursor:pointer;
				}
			
		#modulo4{
			width:1024px;
			height:167px;
			margin:0;
			padding:0;
			background-image:url(../img/modelo4.jpg);
			}
		
		#footer{
			width:1024px;
			height:200px;
			background-image:url(../img/footer.jpg);
		}
				
			#footer ul{
				text-decoration:none;
				padding-top:20px;
				border:none;
				margin:0px;
			}
			
				#footer ul li{
					display:inline;
					padding:5px 30px 5px 30px;
				}
				
					#footer ul li a:link{
						font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
						font-size:14px;
						color:#333;
					}
		
		
			
		